* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background: #0f172a;
  color: white;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 20px;
}

form {
  background: #111827;
  padding: 25px;
  border-radius: 12px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 6px;
  margin-bottom: 12px;
}

button {
  width: 100%;
  padding: 12px;
  cursor: pointer;
}

p {
  color: #ef4444;
}